@import "tailwindcss";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@font-face {
  font-family: "Beaststreet";
  src: url("./assets/fonts/Beaststreet.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
